.relative {
    position: relative;
    /* Changes made in the file are reflected online to work better; Check out the changes on Youtube @RejoiceCodes */
}

.fixed {
   align-items: center;
}
.img1 {
    float: left;
}
.img2 {
    float: right;
}
div,p {
    clear: right;
}


/* Just to inform you that more lectures on CSS are coming soon on the channel */